.pokemonContainer {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex: 0 1 auto;
  width: 40%;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 10px 0;
  background-color: gainsboro;
}