body {
  font-size: larger;
  margin: 20px;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: x-large;
}

img {
    max-width: 100%;
}

figure {
  margin: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  body {
    background-color: gray;
    font-size: large;
    margin: 10px;
  }
  main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  figure {
    width: 45%;
  }
}


@media screen and (min-width: 1300px) {
  body {
    background-color: indianred;
    font-size: medium;
    margin: 30px;
  }
  h1 {
    font-size: xx-large;
  }
  main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  figure {
    width: 30%;
    margin-left: 10px;
  }
  p {
    max-width: 1400px;
  }
}